<h2> <%= @player.name %>'s Turn!</h2>

<% if @success %>
  You got a card! Match your pair!
<% end %>

<% if @fail %>

    No luck. <form action="/go_fish" method="post">
      <button type="submit" class="btn btn-info">GO FISH!</button>
    <br /><br /><br />
    </form>

<% end %>

 <ul>
   <% @player.cards.alphabetize.each do |card| %>
    <li><%= card.fish %></li>
   <% end %>
 </ul>

<form action="/ask" method="post">
  <select name="card">
    <% @player.cards.alphabetize.each do |card| %>
      <option value="<%= card.fish %>"><%= card.fish %></option>
    <% end %>
  </select>
  <select name="opponent">
    <% @game.players.each do |player| %>
      <% if player != @player %>
        <option value="<%= player.id %>">Player <%= player.name %></option>
      <% end %>
    <% end %>
  </select><br>
  <button type="submit" class="btn">Ask Opponent for a Card</button>
</form>
<br><br>
<form action="/check_doubles" method="post">
  <button type="submit" class="btn">Pair!</button>
</form>
<br><br>

<form action="/update_turn" method="post">
  <button type="submit" class="btn">Finish Turn</button>
</form>
