<h2> <%= @player.name %>'s Turn!</h2>

<form action="/check_doubles" method="post">
  <button type="submit" class="btn">Pair!</button>
</form>
<br><br>
<% if @success %>
  You got a card! Click below to add your pair to your score, then ask again!

<% end %>

<% if @fail %>

   <form action="/go_fish" method="post">
      <button type="submit" class="btn btn-info">GO FISH!</button>
    <br /><br /><br />
    </form>

<% else %>

  <form action="/ask" method="post">
    <select name="card">
      <% @player.cards.alphabetize.each do |card| %>
        <option value="<%= card.fish %>"><%= card.fish %></option>
      <% end %>
    </select>
    <select name="opponent">
      <% @game.players.each do |player| %>
        <% if player != @player %>
          <option value="<%= player.id %>">Player <%= player.name %></option>
        <% end %>
      <% end %>
    </select><br>
    <button type="submit" class="btn">Ask Opponent for a Card</button>
  </form>

<% end %>

<div class="cards">
  <ul>
     <% @player.cards.alphabetize.each do |card| %>
        <li><%= card.fish %> <br> <img src="/img/<%= card.fish %>.jpg"></li>
     <% end %>
   </ul>
</div>

<br><br>
